# CrEventor 运行时依赖（Python 3.11，Windows x64）

PyQt5==5.15.11
PyQtWebEngine==5.15.7
evfl==1.2.0
aamp==1.4.1.post1
byml==2.4.5.post1
rstb==1.2.2
oead==1.2.9.post4
PyYAML==6.0.3
msgpack==1.2.1
sortedcontainers==2.4.0
Pillow==12.3.0
